html {
  background-image: linear-gradient(-180deg, #f3d6e5, #d4dae9, #b1c9e5, #d0ecdc, #c0bbdd, #bccce4, #cdc4e2, #c4d7e4, #d4e4d4);
  background-repeat: repeat;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background: black;
  color: white;
  text-align: center;
  width: 100%;
  height: 80px;
  padding: 2px;
  opacity: 0.9;
  font-size: 1em;
}

#main {
  position: relative;
  left: 30%;
  text-align: center;
  height: 180px;
  width: 600px;
  padding: 10px;
  margin: 10px;
  background-color: black;
  color: white;
}

#form {
  margin: 10px;
  padding: 2px;
}

.text1 {
  position: absolute;
  top: 0px;
  left: 0px;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: white;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.text2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: white;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#image-url {
  padding: 5px;
  margin: 4px;
}

#top-text {
  padding: 5px;
  margin: 4px;
}

#bottom-text {
  padding: 5px;
  margin: 4px;
}

label {
  position: relative;
  left: 100px;
  width: 300px;
  display: inline-block;
  text-align: right;
}

div.aligning {
  display: table-row;
}

#memes {
  display: flexbox;
  padding: 10px;
  position: relative;
  left: 600px;
}

img {
  width: 300px;
}

#submit-btn {
  background: none;
  color: #cdc4e2;
  text-transform: uppercase;
  padding: 5px;
  min-width: 100px;
  width: 70px;
  height: 40px;
  margin: 5px;
  border: 1px solid #cdc4e2;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#deleteBtn {
  outline: none;
  border: 1px solid white;
  background: black;
  color: white;
  font-size: 1.5em;
  position: relative;
  left: -10px;
  top: -315px;
  height: 30px;
  width: 30px;
  margin: 10px;
}

.memeSection {
  position: relative;
}

@media only screen and (max-width: 600px) {
  header {
    position: relative;
    width: 100%;
    height: 8%;
    font-size: 0.8em;
  }

  #main {
    position: relative;
    left: 140px;
    height: 250px;
    width: 200px;
  }

  label {
    position: relative;
    left: 0;
    display: inline;
  }

  #memes {
    position: relative;
    left: 100px;
    display: inline;
  }

  .text1 {
    position: absolute;
    width: 40%;
  }

  .text2 {
    position: absolute;
    width: 40%;
  }
}